<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budget Manager App </title>
</head>
<body>
    <h1>Add New Expense</h1>
    <form action="{{ url_for('create_expense') }}" method="post">
        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description" required><br>

        <label for="amount">Amount:</label><br>
        <input type="number" id="amount" name="amount" required><br>

        <label for="date">Date:</label><br>
        <input type="date" id="date" name="date"><br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>